<div class="payment-success">
  <h1>Pagamento Riuscito</h1>
  <p>Grazie per aver completato il pagamento con successo.</p>

  <h2>Dettagli dell'Ordine</h2>
  <ul>
    <li><strong>Numero dell'Ordine:</strong> {{ numeroOrdine }}</li>
    <li><strong>Importo Pagato:</strong> {{ importoPagato }} EUR</li>
  </ul>

  <h2>Dettagli dell'Acquirente</h2>
  <ul>
    <li><strong>Nome:</strong> {{ nomeAcquirente }}</li>
    <li><strong>Email:</strong> {{ emailAcquirente }}</li>
  </ul>
  <p-progressSpinner
    *ngIf="showSpinner"
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>


