<section class="destinations">
  <h3 class="title">Alcune delle nostre destinazioni</h3>
  <p>
    Ami il mare e la sabbia? Sei Appassionato di storia? Amante della natura?
    Cerchi emozioni forti come gli sport acquatici, il kayak nelle acque
    interne, il paracadutismo e le immersioni subacquee? Tranquillo
    WorldInPocket ha qualcosa da offrire a tutti.
  </p>
  <hr />
  <ul class="grid">
    <li
      class="small"
      style="
        background-image: url('https://img.100r.systems/img/f66f3819f0698a577171667f6fef913b.jpg');
      "
    ></li>
    <li
      class="large"
      style="
        background-image: url('https://img.100r.systems/img/d41b14708759d36e7a489a0fbccf10ba.jpg');
      "
    ></li>
    <li
      class="large"
      style="
        background-image: url('https://img.100r.systems/img/4b91f8a2a2db26c2240401516e63af50.jpg');
      "
    ></li>
    <li
      class="small"
      style="background-image:url('https://travel.thewom.it/pictures/2018/01/24/cala-goloritze_1.jpeg');"
    ></li>
  </ul>
</section>
