
<section class="div-container" id="section-beaches" #sectionBeaches>
  <div class="parallax parallax1">
    <div id="div-span-beaches" class="text">
      Tanti Posti Fantastici Da Visitare
    </div>
  </div>
</section>

<section class="div-container" id="section-civilization" #sectionCivilization>
  <div class="parallax parallax2">
    <div id="div-span-civilization" class="text">
      Le Migliori Escursioni Da Fare
    </div>
  </div>
</section>

<section class="div-container" id="section-places" #sectionPlaces>
  <div class="parallax parallax3">
    <div id="div-span-places" class="text">
      WorldInPocket offre questo e altro al miglior prezzo!
    </div>
  </div>
</section>

