<footer>
  <p>
    Copyright © 2023  - <a href="https://github.com/Manuel-Altruda">@Manuel Altruda</a>
  </p>
  <p>
    Scarica WorldInPocket per avere a disposizione viaggi ed escursioni
  </p>
  <ul>
    <li>
      <a href="#"><i class="fa fa-twitter-square fa-2x" style="color: #d60000;"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-facebook-square fa-2x" style="color: #d60000;"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-brands fa-google-play" style="color: #d60000;"></i></a>
    </li>
  </ul>
</footer>
