<section class="packages">
  <h3 class="title">Pacchetti turistici</h3>
  <p>
    Offriamo una varietà di pacchetti turistici in ogni luogo in cui vuoi andare. Che tu voglia vivere la ricca cultura, immergerti nella sua bellezza naturale o semplicemente rilassarti, abbiamo la vacanza perfetta per te.
  </p>
  <hr />
  <ul class="grid">
    <li>
      <i class="fa fa-compass fa-4x"></i>
      <h4>Tour guidati</h4>
      <p>
        Cerchi l'esperienza completa? Visita antichi templi e le numerose spiagge immacolate. Assaggia i piatti locali e visita vari centri benessere o spa per coccolarti durante la tua vacanza.
      </p>
    </li>
    <li>
      <i class="fa fa-camera-retro fa-4x"></i>
      <h4>Tour fotografici</h4>
      <p>
        Vuoi vivere la bellezza della natura senza dover camminare o aspettare troppo? Fai un tour fotografico su uno dei nostri autobus.
      </p>
    </li>
    <li>
      <i class="fa fa-motorcycle fa-4x"></i>
      <h4>Tour in bicicletta, Scooter, Quad..</h4>
      <p>
        Un modo divertente per immergerti nell'atmosfera locale mentre visiti il maggior numero possibile di luoghi
      </p>
    </li>
    <li>
      <i class="fa fa-binoculars fa-4x"></i>
      <h4>Tour safari</h4>
      <p>
        Vuoi vedere un po' di fauna selvatica? Offriamo fantastici tour safari!
      </p>
    </li>
  </ul>
</section>
