 <!--<div *ngIf="selectedHotel">
  <h1>{{ selectedHotel.name }}</h1>
  <p>{{ selectedHotel.description }}</p>
  <img [src]="selectedHotel.image" alt="Hotel Image" />

  Altre informazioni sull'hotel
</div>
-->


<div *ngIf="selectedHotel">
  <h2>{{ selectedHotel.name }}</h2>
  <img [src]="selectedHotel.images" alt="{{ selectedHotel.name }} Image">
  <p>{{ selectedHotel.shortDescription }}</p>
  <p>Indirizzo: {{ selectedHotel.address1 }}</p>
  <p>Stelle: {{ selectedHotel.highRate }}</p>
</div>

<div *ngIf="!selectedHotel">
  <p>Hotel non trovato.</p>
</div>








