<div class="iconeNavbar">
  <button type="button" class="btn-hotel" [routerLink]="['/dashboard']">
    <i class="fa fa-solid fa-hotel fa-lg" style="color: #000000;"></i>
  </button>
  <button type="button" class="btn-volo">
  <i class="fa fa-solid fa-plane fa-lg" style="color: #000000;" [routerLink]="['/volo']"></i>
  </button>

  <button type="button" class="btn-noleggio" [routerLink]="['/noleggio']">
    <i class="fa fa-solid fa-car fa-lg" style="color: #000000; "></i>
  </button>

</div>


<div class="card-container">
  <div
    class="card flex justify-content-center"
    *ngFor="let hotel of hotels"
    #hotelCard

  >
    <p-card [header]="hotel.name" [style]="{ width: '360px', height: '490px' }" >
      <ng-template pTemplate="header">
        <p-carousel
          [value]="hotel.images"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-image pTemplate="item">
            <img
              [style]="{ 'margin-top': '.6em' }"
              alt="Card"
              [src]="image"
              class="card-image"
            />
          </ng-template>
        </p-carousel>
      </ng-template>
      <p class="card-text" (click)="goToHotelDetails(hotel.id)">
        {{ hotel.shortDescription }}
      </p>
     <!-- <ng-template pTemplate="footer">
        <div class="center-button">
          <button class="custom-button" [routerLink]="['/hotel-details', hotel.id]">
            <i class="pi pi-check"></i>
            Vedi di più
          </button>
        </div>
      </ng-template>-->
    </p-card>
  </div>
</div>



<!-- (click)="goToHotelDetails(hotel.id)" -->
